<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    @for (var i = 0; i < 10; i++)
    {<p>Siddhesh Yellaram</p>}
</body>
</html>
